@function grid($num){
  @return percentage($num / 12);
}

@for $c from 1 through 12{
  .col-#{$c}{
    width:grid($c);
  }
}


@for $texto from 1 through 1{

  h3{
    color: $color-titulo;
  }
  p{
    color: $color-Texto;
  }
  small{
    color: $color-fecha;
  }
  samp{
    @extend h3 ;
  }
  a{
    text-decoration: none;
    //margin-left: 75%;
  }
}

@for $lista from 1 through 1 {

  ul{
    margin-left: 20%;
    li{
      display: inline-block;
      margin: 15px
    }
  }
  ol{
      margin-top: 20px;
    li{
      list-style:none;
    }
  }
}
