//area para importar
@import 'variables';
@import "funciones";
@import "mixin";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.row{
  &:before{
    content: "";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear:both;
  }
}
[class*="col-"]{
  min-width: 7px;
  padding: 12px;
  float: left;
}
//imagenes
header{
  div.col-10{
    text-align: center;
  }

}


#borde{
  border-bottom: solid 4px blue;
  height: 50px;
}



.margen__lado{
  margin-top: 20px;
  margin-bottom: 20px;
}

//imagenes


.imagenesDimension{
  max-width: 100%;
}
